.body {
  text-align: center;
  min-height: 600px;
}

.body input {
  display: none;
}

.tag {
  font-size: 12px;
  margin: 1.5em 0px;
  padding: 10px 30px;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  background: #ffffff;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(0, 0, 0);
}
.tag:hover{
  background-color: #000000;
  color: white;
}
.body .images img {
  max-width: 200px;
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  transition: all 0.4s ease-in-out;
  padding: 5px 5px 5px ;
}
#exe:checked ~ .images > img:not([class*="exe"]),
#colider:checked ~ .images > img:not([class*="colider"]),
#elders:checked ~ .images > img:not([class*="elders"]),
#diseñoWeb:checked ~ .images > img:not([class*="diseñoWeb"])
 {
  display: none;
}

#all:checked ~ .all,
#exe:checked ~ .tag1,
#colider:checked ~ .tag2,
#elders:checked ~ .tag3,
#diseñoWeb:checked ~ .tag4
{
  background-color: #000000;
  color: white;
}
