@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
  --green: black;
  --white: #fff;
  --light-white: rgb(206, 206, 206);
  --black: #000000;
  --light-bg: #000000;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  text-transform: capitalize;
}
* a{
  font-family: 'Bebas Neue', cursive;
  
}
* h1,h2{
  font-family: 'Bebas Neue', cursive;
  
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5rem;
}

body {
  background-color: var(--black);
  overflow-x: hidden;

}

section {
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color: var(--light-bg);
  cursor: pointer;
  color: var(--white);
  font-size: 1.8rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.heading {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 4rem;
  font-family: "Pirata One", cursive;
  cursor: pointer;
  margin-top: 35px;
}



/* sumate al clan */

.knowledge {
  background-color: #000000;
  background-size: 20px 20px;
  margin-top: 40px;
  margin-bottom: 45px;
  background-position: 0 0, 10px 10px;
  overflow: hidden;
}
.knowledege__texts {
  color: white;
}
.knowledege__texts h2 {
  font-size: 55px;
  font-family: "Pirata One", cursive;
}
.knowledege__texts a {
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
  background-color: white;
  padding: 10px 30px;
  color: #000000;
}
.knowledege__texts a:hover {
  background-color: #000000;
  color: white;
}
.knowledge__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
  grid-column-gap: 10em;

  
}



.knowledge__paragraph {
  line-height: 1.7;
  margin-bottom: 20px;
  font-size: 16px;
}

.knowledge__img {
  max-width: 280px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);
}



.hStreamers {
  color: white;
  margin-top: 65px;
  text-align: center;
  font-size: 4rem;
  font-family: "Pirata One", cursive;
}
.heroItems{
  display: flex;
  flex-direction: row;
  position: absolute;
}
.izqHero{
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 65px;
}
.izqHero img{
  max-width: 280px;

}

.sponsorClan {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  font-size: 25px;
  margin-top: 10%;
  color: white;
}
.sponsorClan img {
  max-width: 35px;
  margin-left: 5px;
}
.sponsorClan .sponsorSocial a {
  margin-left: 9px;
  color: rgb(255, 255, 255);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--light-bg);
  transition: 0.5s ease;
}

.header .flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header .flex .brand {
  font-family: "Pirata One", cursive;
  font-size: 2.5rem;
  color: var(--white);
}

.header .flex .navbar a {
  margin-left: 2rem;
  color: var(--light-white);
  font-size: 2rem;
  transition: 0.3 ease;
  position: relative;
}

.header .flex .navbar a:before {
  content: "";
  position: absolute;
  background: white;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.4s ease;
}

.header .flex .navbar a:hover:before {
  width: 100%;
}

#menu-btn {
  cursor: pointer;
  color: var(--white);
  font-size: 2.5rem;
  display: none;
}

.home {
  position: relative;
  width: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
clip-path: polygon(31% 0, 100% 0, 100% 100%, 41% 100%);


}

.swiper-pagination-bullet {
  background-color: var(--white);
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.contact .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  flex: 1 1 40rem;
}

.contact .row form .box {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: var(--light-bg);
  font-size: 1.8rem;
  color: var(--white);
  padding: 1.4rem;
  text-transform: none;
}

.contact .row form span {
  font-size: 1.6rem;
  color: var(--light-white);
}

.contact .row form .radio {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.contact .row form .radio label {
  font-size: 1.6rem;
  color: var(--light-white);
  margin-left: 0.5rem;
  cursor: pointer;
}

.contact .row form .radio #female {
  margin-left: 2rem;
}

.contact .row form .radio input {
  appearance: none;
  height: 2rem;
  width: 2rem;
  background-color: var(--light-white);
  cursor: pointer;
}

.contact .row form .radio input:checked {
  background-color: var(--green);
  border-radius: 5rem;
}

.contact .row form .radio #male:checked ~ label[for="male"] {
  color: var(--green);
}

.contact .row form .radio #female:checked ~ label[for="female"] {
  color: var(--green);
}

.footer {
  background-color: white;
  text-align: center;
  margin-top: 1px;
  /* padding-bottom: 7rem; */
}

.footer .share a {
  margin: 0 0.3rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: black;
  background-color: white;
}

.footer .share a:hover {
  background-color: white;
}

.footer .credit {
  margin-top: 2.5rem;
  padding: 1.5rem;
  padding-top: 2.5rem;
  border-top: 0rem solid black;
  font-size: 2rem;
  color: black;
}

.footer .credit span {
  color: black;
}

.box {
  padding: 16px;
  background: #111111;
  border-radius: 15px;
  transition: all 0.38s ease;
}

.box h3 {
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 8px;
}

.box h5 {
  font-size: 15px;
  font-weight: 600;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.icons i {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  margin: 0 8px;
  transition: all 0.38s ease;
}

.icons i:hover {
  transform: scale(1.2);
}

.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.hJerarquia {
  color: black;
  background-color: white;
}

.homeStream {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--black);
  min-height: 100vh;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
  margin-bottom: 90px;
}

.container .card {
  position: relative;
  width: 350px;
  height: 450px;
  background: #0f0f0f;
  margin-top: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.container .card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.6;
  transition: 0.5s;
  margin-bottom: 55px;
}

.container .card:hover .content {
  opacity: 1;
  transform: translateY(-20px);
}

.container .card .content .imgBx {
  position: relative;
  width: 210px;
  height: 210px;
  border-radius: 20%;
  overflow: hidden;
  border: 5px solid rgba(0, 0, 0, 0, 0.25);
}

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card .content .contentBx h3 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}

.container .card .sci {
  position: absolute;
  bottom: 80px;
  display: flex;
}

.container .card .sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(40px);
  transition: 0.5s;
  transition-delay: calc(0.1s * var(--i));
  opacity: 1;
}

.container .card .sci li a {
  color: white;
  font-size: 24px;
}

.container .card:hover .sci li {
  transform: translateY(0px);
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .home .row .content h3 {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  #menu-btn.fa-times {
    transform: rotate(180deg);
  }

  .header .flex .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid var(--light-white);
    border-bottom: 0.1rem solid var(--light-white);
    background-color: var(--light-bg);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .flex .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header .flex .navbar a {
    display: block;
    margin: 2rem;
  }

  .home .row .content h3 {
    font-size: 6rem;
  }
  

}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .row .content h3 {
    font-size: 5rem;
  }

  .heading {
    font-size: 3rem;
  }
  .izqHero {
margin-left: 0px
;    margin-top: 18%;
    
  }
  .izqHero img{
    max-width: 220px;
    margin-left: 30px;
  }
  .sponsorClan img {
    max-width: 35px;
    margin-left: 5px;
  }
  .home video {
    display: none;
  }
}

@media(width < 1140px){
  .home video{
    opacity: 1;
  }
}